<!DOCTYPE html>
<html>
  <head>
    <title>Como é que é?</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!--Navbar-->

      <nav class="navbar">
        <div class="menu">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Como funciona</a></li>
                <li><a href="#">Tutoriais</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Cadastro</a></li>
            </ul>
        </div>
    </nav>

    <%= yield %>
    <!--Footer-->

        <footer class="footer">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Como funciona</a></li>
            <li><a href="#">Tutoriais</a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Cadastro</a></li>
        </ul>
    </footer>
  </body>
</html>
