<p id="notice"><%= notice %></p>

<p>
  <strong>Id seq:</strong>
  <%= @crudtutoriai.id_seq %>
</p>

<p>
  <strong>Namecourse:</strong>
  <%= @crudtutoriai.namecourse %>
</p>

<p>
  <strong>Namechapter:</strong>
  <%= @crudtutoriai.namechapter %>
</p>

<p>
  <strong>Contentchapter:</strong>
  <%= @crudtutoriai.contentchapter %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @crudtutoriai.duration %>
</p>

<%= link_to 'Edit', edit_crudtutoriai_path(@crudtutoriai) %> |
<%= link_to 'Back', crudtutoriais_path %>
